body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom style
-----------------------------------------------------------*/

.center {
    margin-left: 26%;
    margin-top: 10px;
}

.matrix {
    background-color: grey;
}

.tile-container {
    /*width: 296px;
            height: 296px;*/
    border: 1px solid black;
    float: left;
    margin: 1px;
}

.green-tile {
    background-color: #68d26a;
}

.red-tile {
    background-color: #FF4D4D;
}

.white-tile {
    background-color: white;
}

.failure-message {
    color: red;
}

.success-message {
    color: blue;
}

.message-container {
    width: 510px;
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
}

span#message {
    font-size: 20px;
    font-family: cursive;
    display: inline-block;
}

/* Bootstrap modal adjustment
-----------------------------------------------------------*/

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
