@{
    ViewBag.Title = "Memory Matrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Memory Matrix</h2>
<h3>Play</h3>
<h4>@Html.ActionLink("Challenge Mode", "Matrix", "Home", new {mode = "c" }, "")</h4>
<h4>@Html.ActionLink("Practice Mode", "Matrix", "Home", new { mode = "p" }, "")</h4>
