@using MemoryMatrix.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    GameSession gameSession = ViewBag.gameSession;
    Matrix matrix = ViewBag.matrix;
}
@section Head{
    <style>
        .center {
            margin-left: 26%;
            margin-top: 10px;
        }
        .matrix {
            background-color: grey;
        }

        .tile-container {
            width: 296px;
            height: 296px;
            border: 1px solid black;
            float: left;
            margin: 1px;
        }

        .red-tile {
            background-color: #FF4D4D;
        }

        .white-tile {
            background-color: white;
        }
    </style>
}

<h2>Index</h2>
<div class="center">
    <span>Matrix Level @gameSession.Level</span>
    <div class="matrix" style="width:@(matrix.Width)px;height:@(matrix.Height)px">
        <div class="tile-container">
            <div class="front red-tile">
                <!-- front content -->
            </div>
            <div class="back white-tile">
                <!-- back content -->
            </div>
        </div>
        <div class="tile-container">
            <div class="front red-tile">
                <!-- front content -->
            </div>
            <div class="back white-tile">
                <!-- back content -->
            </div>
        </div>
        <div class="tile-container">
            <div class="front red-tile">
                <!-- front content -->
            </div>
            <div class="back white-tile">
                <!-- back content -->
            </div>
        </div>
        <div class="tile-container">
            <div class="front red-tile">
                <!-- front content -->
            </div>
            <div class="back white-tile">
                <!-- back content -->
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.flip.min.js"></script>
    <script>
        $(function () {
            $(".tile-container").flip({
                axis: "y", // y or x
                trigger: "click", // click or hover
                speed: 400
            });
        });
    </script>
}